@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Dark-mobile-2x.jpg);
    }
  }
}

@media screen and (max-width: 1158px) {
  .advant-soc-icon {
    display: none;
  }
  .result {
    display: none;
  }
}
@media (max-width: 767px) {
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .advantages-menu {
    display: flex;
    gap: 72px 24px;
  }
  .advantages-menu-item {
    width: calc((100% - 24px) / 2);
    max-width: 356px;
  }
  .hero-advantages {
    text-align: left;
  }

  .team-menu {
    display: flex;
    gap: 64px 24px;
  }

  .team-menu-item {
    width: calc((100% - 24px) / 2);
    max-width: 264px;
  }
  .customers-menu {
    display: flex;
    gap: 72px 24px;
  }
  .customers-menu-item {
    width: calc((100% - 48px) / 3);
    height: 88px;
  }
  .hero {
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-1x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Dark-bg-2x.jpg);
    }
  }
  /*mob-menu-toggle {
    display: none;
  }
  /*.mobil-btn-menu {
    display: block;
  }
  .header-menu {
    display: none;
  }
  .header-logo {
    padding-left: 16px;
  }
  .header-adr {
    display: none;
  }*/
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .advantages-container-icon {
    background: #f4f4fd;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero-advantages {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .hero-advantages-text {
    font-weight: 400;
  }

  .advantages-menu-item {
    width: calc((100% - 72px) / 4);
    max-width: 264px;
  }
  .advantages-menu {
    gap: 24px;
  }
  .team-menu-item {
    width: calc((100%-72px) / 4);
  }

  .team-menu {
    gap: 24px;
  }

  .customers-menu {
    display: flex;
    gap: 24px;
  }
  .customers-menu-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
  }
  .footer-bgr {
    padding: 100px 0;
  }
  .footer-cont {
    text-align: left;
  }
  .paragraf-social {
    text-align: left;
  }
  .subscribe-button {
    margin-left: 24px;
  }
  .subscribe-input {
    width: 264px;
  }
  .hero {
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-2x.jpg);
    }
  }
}
