:root {
  --main-text-color: #ffffff;
  --second-text-color: #434455;
  --hero-text-color: #2e2f42;
  --team-text-color: #f4f4fd;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
}

.container {
  max-width: 428px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/**----------------HEADER--------**/

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
  margin-right: 76px;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.header-logo span {
  color: #2e2f42;
}

.header-menu {
  display: flex;
  gap: 40px;
  max-width: 261px;
}
.header-menu .header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  transition: color var(--transition);
  position: relative;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  width: 100%;
}

.header-menu-link.current {
  color: #404bbf;
}

.header-menu-link:is(:hover, :focus) {
  color: #404bbf;
}

/**-------------------ADRESS--------**/

.header-adr {
  display: flex;
  gap: 40px;
  transition: color var(--transition);
}

.address {
  font-style: normal;
  font-weight: 400;
  max-width: 344px;
  margin-left: 251px;
}

.adres-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  transition: color var(--transition);
}

.adres-link:is(:hover, :focus) {
  color: #404bbf;
}

/*?--------HERO-TITLO---------?*/

.hero {
  background: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-titlo {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: auto;
  margin-bottom: 48px;
}

.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-text-color);
  background: #4d5ae5;
  border-radius: 4px;
  padding: 16px 32px;
  margin: auto;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  cursor: pointer;
  transition: background-color var(--transition);
}

.hero-btn:is(:hover, :focus) {
  background-color: #404bbf;
  cursor: pointer;
}

.hero-soc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding-top: 8px;
  gap: 24px;
}

.header-soc-icon {
  fill: #f4f4fd;
}

.header-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  padding: 12px;
  border-radius: 50%;
  transition: background-color var(--transition);
}
.header-soc-link:is(:hover, :focus) {
  background-color: #404bbf;
  cursor: pointer;
}

/*?----------------ADVANTAGES----------?*/

.advantages {
  padding: 96px 0;
}

.advantages-menu {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
}
.advantages-menu-item {
  padding-left: 0;
  width: 100%;

  /*width: calc((100% - 72px) / 4);*/
}

.advantages-menu-item::before {
  content: "";
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  border-radius: 4px;
}

/*.advantages-container-icon {
  background: #f4f4fd;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}*/

.result-menu {
  display: flex;
  gap: 24px;
}

.result-menu-item {
  width: calc((100%-48px) / 3);
}

.posada {
  padding: 32px 0;
}

.team-centr {
  text-align: center;
  margin-bottom: 8px;
}

.text-centr {
  text-align: center;
}

.hero-advantages-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.hero-advantages {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--hero-text-color);
  margin-bottom: 8px;
  text-align: center;
}

.result {
  padding-bottom: 120px;
}

.hero-result {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  text-align: center;
  min-width: 323px;
  margin: 0 auto;
  margin-bottom: 72px;
}

.text-footer {
  color: #f4f4fd;
}
.team {
  background-color: var(--team-text-color);
  padding-bottom: 32px;
  padding-top: 32px;
}

.team-menu {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-menu-item {
  background-color: var(--main-text-color);
  width: calc((100%-72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.dark-bgr {
  background-color: var(--hero-text-color);
}

/***?-------------CUSTOMERS---------?***/

.container-customers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.header-customers {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--hero-text-color);
  margin-bottom: 72px;
}

.customers-menu {
  display: flex;
  gap: 24px;
}

.customers-menu-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.customers-menu-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  border-color: 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-menu-link:is(:hover, :focus) {
  color: #404bbf;
}

.customers-menu-link:is(:hover, :focus) {
  border-color: #404bbf;
}

.customers-icon {
  fill: currentColor;
}

/**-------------FOOTER------------**/

.footer-bgr {
  background: #2e2f42;
  padding: 100px 0;
}

.container-footer {
  display: flex;
  align-items: baseline;
}

.footer-cont {
  margin-right: 120px;
}

.footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.button-text {
  color: #4d5ae5;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}

.footer-soc {
  display: flex;
  gap: 16px;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}

.paragraf-social {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  margin-bottom: 16px;
}

.footer-media {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 12px;
  transition: background-color var(--transition);
}

.footer-media:is(:hover, :focus) {
  background-color: #31d0aa;
}

/**-----------------------------------PORTFOLIO------------------*/

.section-portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 0 120px 0;
}

.portfolio-pictures {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--hero-text-color);
  margin-bottom: 8px;
  text-align: left;
}

.portfolio-button {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.button-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  border: 1px solid #e7e9fc;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-text:is(:hover, :focus) {
  background-color: #404bbf;
  color: var(--main-text-color);
  cursor: pointer;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 24px;
  row-gap: 48px;
  justify-content: center;
}

.foto-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-menu-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-menu-link:is(:hover, :focus) {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.foto-border {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.portfolio-menu-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-menu-link:hover .portfolio-block-text,
.portfolio-menu-link:focus .portfolio-block-text {
  transform: translateY(0%);
}

.portfolio-block-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--team-text-color);
  padding: 40px 32px;
  background: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-block {
  position: relative;
  overflow: hidden;
}

/**--------------------------------------------**/

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity var(--transition), visibility var(--transition);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
}

.modal-btn {
  position: absolute;
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-btn:hover {
  background-color: #404bbf;
  border: none;
}

.modal-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover .modal-icon,
.modal-btn:focus .modal-icon {
  fill: #ffffff;
}

.modal-paragraf {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--hero-text-color);
  margin-bottom: 16px;
}

.container-form-modal {
  margin-bottom: 8px;
}

.label-modal {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.container-input-icon {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color var(--transition);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-icon-input {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-modal:focus {
  border-color: #4d5ae5;
}

.modal-input:focus-within + .modal-icon-input {
  fill: #4d5ae5;
}

.container-comment-modal {
  margin-bottom: 16px;
}

.textarea-modal {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus .textarea-modal {
  border-color: #4d5ae5;
}

.container-checkbox-label {
  margin-bottom: 24px;
}

.label-checkbok {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.span-icon-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.input-checkbox-label:checked + .label-checkbok > .span-icon-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.privacy-link {
  color: #4d5ae5;
}

.button-send {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-text-color);
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 24px;
  margin-left: 100px;
}

/*?-----------SUBSCRIBE---------?*/

.form-subscribe {
  display: flex;
  gap: 24px;
}

.subscribe-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--main-text-color);
}

.subscribe-input::placeholder {
  color: var(--main-text-color);
}

.subscribe-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-text-color);
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.subscribe-icon {
  margin-left: 16px;
}
